<!DOCTYPE html>
{% load template_tags %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>График включений</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<style>
    table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid gray;

}

th, td {
  text-align: center;
  padding: 4px;
  font-size: 20px;
}

tr {
  height: 10px;
}

.graph-right {
    border-right: 2px solid gray
}

.graph-left {
    border-left: 2px solid gray
}

.graph-header {
    border-bottom: 2px solid gray;
}

.graph-right-highlighted {
    border-right: 2px solid #c9be53;
}

.graph-left-highlighted {
    border-left: 2px solid #c9be53;
}

.graph-header-highlighted {
    border-bottom: 2px solid #c9be53;
}

.text_highlighted {
    color: #c9be53;
}


</style>

<script>
    const CHANNEL_TEMPLATE = "{% url 'program' mqtt_user 55555 66666 %}"
    function move_to_prg(channel_num, prg_num)
    {
        window.location.replace(CHANNEL_TEMPLATE.replace("55555", channel_num).replace("66666", prg_num))
    };
</script>

<body>

	<div class="wrapper">

		<div class="page">

			<div class="page__row">

				<div class="page__head">
					<div class="mhead">

						<div class="mhead__title">
							<b>План программ</b>
						</div>

						<div class="mhead__manual">
							<a href="javascript:history.back()" class="mhead__manual xhref">&#10006;</a>
						</div>

					</div>
				</div>

			  	<div class="page__body">

					<div class="mbody" style="border: 1px solid green; overflow-x:auto;">

	<table style="border-collapse:collapse; ">
    <colgroup>
        <col>
        <col span="7">
    </colgroup>
    <thead class="graph-header">
        <tr class="graph">
            <th>Номер канала</th>
            <th colspan="24" {% if day_of_week == 0 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Понедельник</th>
            <th colspan="24" {% if day_of_week == 1 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Вторник</th>
            <th colspan="24" {% if day_of_week == 2 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Среда</th>
            <th colspan="24" {% if day_of_week == 3 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Четверг</th>
            <th colspan="24" {% if day_of_week == 4 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Пятница</th>
            <th colspan="24" {% if day_of_week == 5 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Суббота</th>
            <th colspan="24" {% if day_of_week == 6 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Воскресенье</th>
            <th colspan="24" {% if day_of_week == 0 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Понедельник</th>
            <th colspan="24" {% if day_of_week == 1 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Вторник</th>
            <th colspan="24" {% if day_of_week == 2 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Среда</th>
            <th colspan="24" {% if day_of_week == 3 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Четверг</th>
            <th colspan="24" {% if day_of_week == 4 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Пятница</th>
            <th colspan="24" {% if day_of_week == 5 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Суббота</th>
            <th colspan="24" {% if day_of_week == 6 %}class="graph-header-highlighted text_highlighted"{% endif %} style="width: 13%">Воскресенье</th>
        </tr>
    </thead>
    <tbody>
        {% for line in lines_week %}
            <tr {% if forloop.last %} class="graph-header" {% endif %}>
                <th>#{{ forloop.counter }}</th>
                {% for week in line %}
                    {% for h in week %}
                        {% if forloop.first %}
                            <th class="graph-left{% if forloop.parentloop.counter0|mod:7 == day_of_week %}-highlighted {% if forloop.parentloop.parentloop.last %} graph-header-highlighted {% endif %}{% endif %}" {% if h.active == 1 %} style="background: green;" onclick="move_to_prg({{h.chn}}, {{h.prg}});" {% endif %}></th>
                        {% elif forloop.last %}
                            <th class="{% if forloop.parentloop.counter0|add:1|mod:7 != day_of_week %} graph-right{% if forloop.parentloop.counter0|mod:7 == day_of_week %}-highlighted {% if forloop.parentloop.parentloop.last %} graph-header-highlighted {% endif %}{% endif %}{% endif %}" {% if h.active == 1 %} style="background: green;" onclick="move_to_prg({{h.chn}}, {{h.prg}});"{% endif %}></th>
                        {% else %}
                            <th {% if forloop.parentloop.parentloop.last and forloop.parentloop.counter0|mod:7 == day_of_week %} class="graph-header-highlighted" {% endif %} {% if h.active == 1 %} style="background: green;" onclick="move_to_prg({{h.chn}}, {{h.prg}});"{% endif %}></th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

					</div>

				</div>

			  	<div class="page__footer"></div>
			</div>
	</div>
</body>
</html>