<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>Enable</title>
	<!--<link rel="stylesheet" href="css/style.css">-->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <script>
        pattern = "{% url 'remove_controller' 'replace' %}"
        function delete_controller(mqtt_user, name)
        {
            if (confirm("Вы действительно хотите удалить '" + name + "'?"))
            {
                window.location.replace(pattern.replace('replace', mqtt_user))
            }
        }

        function change_credentials_visibility(element)
        {
            var els = element.getElementsByTagName("span")
            var creds = els[els.length - 1];
            if (creds.style.display == "none")
            {
                creds.style.display = "flex";
            }
            else
            {
                creds.style.display = "none";
            }
        }
    </script>
    <div class="wrapper">
        <div class="page">
            <div class="page">
                <div class="page__row">

                    <div class="page__head">
                        <div class="mhead">
                            <a target="_blank" href="https://hi-garden.ru/" class="mhead__logo xhref">Hi-Garden</a>
                            <div class="mhead__title">Выбор контроллера</Main></div>
                            <a href="{% url 'index' %}" class="mhead__manual xhref">&#10006;</a>		 
                         </div>
                    </div>

                    <div class="page__body">

                        <div class="mbody">

                            <div class="status" style="justify-content: flex-start;">

                                <div class="status__row">
                                    <div class="titlew">Контроллер:</div>
                                </div>

                                <form action="" method="post">
                                    {% csrf_token %}

                                    <div class="status__rowc">
                                        <div class="status__column">
                                            <div class="titlew">Name:</div>
                                        </div>
                                        <div class="status__column">
                                            <input type="text" id="cname" name="cname" style="border: 1px solid gray;" value="{{ test_controller_name }}">
                                        </div>
                                    </div>

                                    <div class="status__rowc">
                                        <div class="status__column">
                                            <div class="titlew">User:</div>
                                        </div>
                                        <div class="status__column">
                                            <input type="text" id="user" name="user" style="border: 1px solid gray;" value="{{ test_controller_mqtt_user }}">
                                        </div>
                                    </div>

                                    <div class="status__rowc">
                                        <div class="status__column">
                                            <div class="titlew">Password:</div>
                                        </div>
                                        <div class="status__column">
                                            <input type="password" id="password" name="password" style="border: 1px solid gray;" value="{{ test_controller_mqtt_password }}">
                                        </div>
                                    </div>

                                    <div class="status__row" style="margin-bottom: 30px;">
                                        <div class="status__column">
                                            <button type="submit" class="btn btn-primary" style="margin-bottom: 15px;">Добавить</button>
                                        </div>
                                        <div class="status__column">
                                            <div class="titlew">Чтобы удалить запись,<br>нажмите <span style="color: red">&#9003;</span></div>
                                            {% if status_message == 1 %}
                                                <div class="titlew" style="color: #2bb537"><u>Контроллер добавлен</u></div>
                                            {% elif status_message == 2 %}
                                                <div class="titlew" style="color: #dc3838"><u>Неверное имя пользователя<br>или пароль</u></div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="status__row">
                                        <div class="titlew" style="margin-left: 50px;">
                                            {% if controllers|length > 0 %}
                                            <ul>
                                                {% for cnt in controllers %}
                                                <li style="list-style-type: decimal;  margin-bottom: 30px;">
                                                    <a style="color: #FFFFBB" href="controllers/{{ cnt.mqtt_user }}">{{ cnt.name }}</a>
                                                    <span style="margin-left: 100px;">
                                                        <a style="color: red; text-decoration: none; font-size: 120%;" onclick="javascript:delete_controller('{{cnt.mqtt_user}}', '{{cnt.name}}')" href="#">&#9003;</a>
                                                    </span>
                                                    <span style="margin-left: 20px;">
                                                        <a style="color: white; font-weight: 1; font-size: 160%; text-decoration: none; height: 70%" onclick="javascript:change_credentials_visibility(this.parentElement.parentElement)" href="#">&#128065;</a>
                                                    </span>
                                                    <span style="display: none; margin-left 0; margin-right: auto; text-align: left;"><br>Пользователь: {{ cnt.mqtt_user }}&emsp;&emsp;&emsp;Пароль: {{ cnt.mqtt_password }}</span>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% else %}
                                            Вы не добавили контроллеры
                                            {% endif %}

                                        </div>
                                    </div>
                                    
                                </form>
                                </div>

                            </div>

                        </div>
                    
                    </div>

                    <div class="page__footer"></div>

                </div>
            </div>
        </div>
    </div>

</body>

